xml/definicoes.dtd

<!ELEMENT cardapio (prato+)>

<!ELEMENT prato (nome,descricao,ingredientes,preco,calorias,tempoPreparo)>
<!ATTLIST prato id ID #REQUIRED>

<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempoPreparo (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco reais (BRL|USD) "BRL">
<!ENTITY reais "R$">
